---
interface Props {
  narrow?: boolean;
  className?: string;
}

const { narrow = false, className = '' } = Astro.props;
---

<div class:list={["site-container", { narrow }, className]}>
  <slot />
</div>
